<!-- End slides. -->


<!-- Begin extension snippets. Add or remove as needed. -->

<!-- deck.navigation snippet -->
<a href="#" class="deck-prev-link" title="Previous">&#8592;</a>
<a href="#" class="deck-next-link" title="Next">&#8594;</a>

<!-- deck.status snippet -->
<p class="deck-status">
  <span class="deck-status-current"></span>
  /
  <span class="deck-status-total"></span>
</p>

<!-- deck.hash snippet -->
<a href="." title="Permalink to this slide" class="deck-permalink">#</a>

<!-- deck.narrator snippet -->
<!--
<audio controls class="deck-narrator-audio" id="narrator-audio">
  <source src="audio.m4a" type="audio/mp4" />
  <source src="audio.ogg" type="audio/ogg" />
  <track kind="caption" src="transcript.vtt" srclang="en" label="English" />
</audio>
-->
<audio controls class="deck-narrator-audio" id="narrator-audio" src="audio.ogg">
  <track kind="caption" src="transcript.vtt" srclang="en" label="English" />
</audio>
<!-- End extension snippets. -->


<!-- Required JS files. -->
<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="../lib/deck.js/core/deck.core.js"></script>

<!-- Extension JS files. Add or remove as needed. -->
<script src="../lib/deck.js/core/deck.core.js"></script>
<script src="../lib/deck.js/extensions/hash/deck.hash.js"></script>
<script src="../lib/deck.js/extensions/menu/deck.menu.js"></script>
<script src="../lib/deck.js/extensions/status/deck.status.js"></script>
<script src="../lib/deck.js/extensions/navigation/deck.navigation.js"></script>
<script src="../lib/deck.js/extensions/scale/deck.scale.js"></script>
<script src="../lib/deck.automatic.js/automatic/deck.automatic.js"></script>
<script src="../deck.narrator.js"></script>

<!-- Initialize the deck. You can put this in an external file if desired. -->
<script>
  $(function() {
    $.extend(true, $.deck.defaults, {
      automatic: {
        startRunning: false,
        cycle: false
      },
      keys: {
        // enter, space, page down, right arrow, down arrow,
        //next: [13, 32, 34, 39, 40],
        next: [13, 39, 40],
        // backspace, page up, left arrow, up arrow
        previous: [8, 33, 37, 38]
      },      
    });
    $.deck('.slide');
  });
</script>
<script>
  // https://stackoverflow.com/questions/35489319/how-to-bind-a-keyboard-shortcut-to-the-play-and-pause-controls-of-the-html-audio/35489701
  var audio = document.getElementById("narrator-audio");
  window.addEventListener("keyup", playPauseKb, false);
  function playPauseKb(event) {
    var x = event.which || event.keyCode;  
    //debug
    //console.log(x);
    //space (32) on the keyboard does not work, use p (80)
    if (x === 80 || x === 32 || x === Space) {
      if (audio.paused) {
        audio.play();
      } else {
        audio.pause();
      }
    }
  }
</script>
</body>
</html>
